<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
<title>★---olleh---★</title>
<link rel="stylesheet" type="text/css" href="http://image.ktfmembers.com/image/cyberbill/201308_comm.css"/>
<script type="text/javascript" language="javascript" src="http://image.ktfmembers.com/image/cyberbill/201211_print.js"></script>

<script type="text/javascript" language="javascript" src="http://image.ktfmembers.com/image/cyberbill/201205_menu.js"></script>

</head>

<!-- <body onload="page_open();"> -->
<body onload="javascript:cybermenu4(1);">

<!--BODY_SCRIPT-->

<!-- 고객등급 이미지 -->
<!-- CUST_GRADE_IMG-->
<!-- 예전청구서 상단이미지 아래 금액 출력 환불받을지 , 낼지 -->
<!-- STRING_PAY_OR_BACK-->

<div id="p_body">

<div id="s_wrap">
<div id="s_header"><img src="http://image.ktfmembers.com/image/cyberbill/201102_top.gif" alt=" " width="830" height="18" /></div>
<div id="s_contents">
<div id="menu">
<table width="790" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="left" class="sub_tab_bg">
<table width="790" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="70">&nbsp;</td>
<td width="100"><img id="img_tab1" src="http://image.ktfmembers.com/image/cyberbill/201102_tab01_over.gif" width="100" height="40" style="cursor: pointer;" onclick="cybermenu4(1);" alt="사용요금"/></td>
<td width="100"><img id="img_tab2" src="http://image.ktfmembers.com/image/cyberbill/201102_tab02.gif" width="100" height="40" style="cursor: pointer;" onclick="cybermenu4(2);" alt="사용내역"/></td>
<td width="100"><img id="img_tab3" src="http://image.ktfmembers.com/image/cyberbill/201205_tab03.gif" width="100" height="40" style="cursor: pointer;" onclick="cybermenu4(3);" alt="컨텐츠이용료 소액결제내역 "/></td>
<td id="img_tab4"></td>
<td width="100"><img id="img_tab5" src="http://image.ktfmembers.com/image/cyberbill/201102_tab05.gif" width="100" height="40" style="cursor: pointer;" onclick="cybermenu4(5);" alt="안내/이벤트"/></td>
<td id="img_tab6"></td>
<td align="right" valign="top" style="padding:14px 15px 0 0"><img src="http://image.ktfmembers.com/image/cyberbill/201301_date.gif" alt="201301" width="65" height="15" /></td>
</tr>

</table>
</td>
</tr>
<tr>
<td class="sub_tab_bg2"></td>
</tr>
</table>
</div>

<span id="dark1" style="position:absolute;"></span>


<!-- 인쇄 팝업 시작 -->
<div id="topdeck" class="popper" style="position:absolute; z-index:2200; left:200px; top:15px;"></div>
<div id="topdeckView" class="popper"  style="position:absolute; z-index:2200; left:200px; top:15px;"></div>
<script type="text/javascript" language="javascript" src="http://image.ktfmembers.com/image/cyberbill/201105_print_pop.js"></script>
<!-- 인쇄 팝업 종료 -->


<!--사용요금 tab menu page start-->
<div style="position:relative; z-index:2004" id="contents">


<div id="tab_menu1" style="position:relative; top:0px; left:0px; visibility:visible; z-index:1000;">


<!--미리보기 시작-->
<div id="bizi_body_page1" style="z-index:1100">

<div id="point_area">
<div id="point_box1">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="90" valign="bottom"><img src="http://image.ktfmembers.com/image/cyberbill/201012_point_txt01.gif" alt="핸드폰번호"   width="90" height="28"/></td>
<td width="100" valign="bottom" class="td_12_black_b_h26_pb3">
010-11**-22**
</td>
<td width="110" valign="bottom"><img src="http://image.ktfmembers.com/image/cyberbill/201005_point_txt02.gif" alt="총사용번호수" width="110" height="28"/></td>
<td width="48" valign="bottom" class="td_12_black_b_h26_pb3">
1
대
</td>
<td width="110" valign="bottom"><img src="http://image.ktfmembers.com/image/cyberbill/201101_point_txt03.gif" alt="나의 가입 대리점"   width="110" height="28"/></td>
<td width="285" class="td_12_black_b_h14_pb3">
<!--나의 가입 대리점TODO-->
(주)케이빅퍼스트
</td>
</tr>
</table>
</div>
<div id="point_box2">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tr>

<td colspan="3" height="1" bgcolor="#b3b3b3"></td>
</tr>
<tr>

<td width="240"><img src="http://image.ktfmembers.com/image/cyberbill/201011_point_txt05.gif" alt="고객센터 : (무료)핸드폰에서 114 또는 100번 (유료)1588-0010" width="240" height="52" align="middle" /></td>
<td width="221"></td>
<td width="289" class="td_12_black_b_h14_pb3">

<!--나의 가입 대리점TODO-->
☎ 02-517-6010
</td>
</tr>
</table>
</div>
</div>
<div class="sub_dot"></div>
<div id="sum_title">
<table width="790" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="62" height="61">&nbsp;</td>
<td align="center">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="td_16_gray_b">
<!-- CUST_NAME-->
이태백
</td>
<td width="58" align="right"><img src="http://image.ktfmembers.com/image/cyberbill/201106_txt_gogack.gif" alt="고객님" width="48" height="18"/></td>
</tr>
</table>
</td>
<td width="62" align="left" valign="bottom"><img id="print_btn1" src="http://image.ktfmembers.com/image/cyberbill/201112_btn_print.gif" onclick="javascript:jsPrintView('bizi_body_page1');" style="cursor:pointer" alt="인쇄하기" width="53" height="61"/></td>
</tr>
</table>
</div>

<div id="sum_area">
<table width="790" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="28">&nbsp;</td>
<td width="762" valign="top"><table width="305" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="62" height="20" valign="top"><img src="http://image.ktfmembers.com/image/cyberbill/201106_bill_payment.gif" width="54" height="16" alt="납기일" /></td>
<td valign="top"><span class="td_15_gray_b">
<!--납기일-->
2013년 01월 31일
</span></td>
</tr>
</table></td>
</tr>
<tr>

<td colspan="2" align="center" >
<!-- 201211_디자인 변경 시작-->
<table width="700" border="0" cellspacing="0" cellpadding="0">
<tr>
<td>

<div style="position: relative;">
<img src="http://image.ktfmembers.com/image/cyberbill/201211_ca_tb.gif"  alt="카테고리 테이블" />
<div style="left:0px; position:absolute; top:10px; width:100%;">
<table width="100%" height="72" border="0" cellpadding="0" cellspacing="0">
<col width="25%">
<col width="26%">
<col width="23%">
<col width="23%">
<col width="3%">
<!--통신비/비통신비 카테고리별 금액-->
<tr id="category_title">
<td class="category0">통신요금</td>
<td class="category0">컨텐츠&부가사용 요금</td>
<td class="category0">단말기 할부금</td>
<td class="category1">미납요금</td>
<td class="category0"></tr>
<tr>
<td class="category0">0원</td>
<td class="category0">0원</td>
<td class="category0">28,150원</td>
<td class="category1">0원</td>
<td class="category0"></td></tr>

</table>
</div>
</div>

</td>
</tr>
</table>
<!-- 201211_디자인 변경 끝-->
</td><!-- 20121114_종료태그추가-->
</tr>
</table>
<!-- </td>
</tr>
</table> --><!-- 20121114_종료태그삭제-->
</div>

<div id="point_area">
<table width="750" border="0" cellpadding="0" cellspacing="0">
<tr>
<!-- 201211_디자인 변경 시작-->
<td colspan="3" ><img src="http://image.ktfmembers.com/image/cyberbill/201211_arrow.gif" width="750" height="62" alt="화살표" /><!-- 201211_디자인 변경 끝-->

</td>
</tr>
<tr>
<td width="233"></td>
<td width="10"></td>
<td width="507" height="15" >&nbsp;</td>

</tr>
<tr>
<td rowspan="2" valign="top"><table class="ma_top_10" width="233" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="30" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="78" valign="top">&nbsp;<img src="http://image.ktfmembers.com/image/cyberbill/201106_period.gif" width="67" height="17" alt="사용기간" /></td>
<td><span class="td_15_gray_b">
<!--사용기간-->

</span></td>
</tr>
</table></td>
</tr>
<tr>
<td height="27" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="111" valign="top">&nbsp;<img src="http://image.ktfmembers.com/image/cyberbill/201205_discount.gif" width="66" height="17" alt="할인금액"/></td>
<td><span class="td_15_gray_b">
<!--할인금액-->
0원
</span>
</td>
</tr>
</table>
</td>
</tr>

</table></td>
<td rowspan="2" align="right" class="padding_r10"><p>&nbsp;</p></td>
<td>
<!-- 201211_디자인 변경 시작-->
<div style="position: relative;">

<img src="http://image.ktfmembers.com/image/cyberbill/201211_bill_title_bg.gif"  />
<div style="left:0px; position:absolute; top:15px;">
<table width="500" border="0" cellpadding="0" cellspacing="0">
<tr valign="bottom">
<td width="40" height="27" class="td_26_gray_b">
<!--현재달-->
1
</td>
<td width="190" align="right" ><img src="http://image.ktfmembers.com/image/cyberbill/201211_bill_txt_01.gif" width="190" height="27" alt="월 납부하실 금액은" /></td>
<td class="td_26_gray_b">
<!--납부하실 금액-->
28,150
</td>
<td width="100" style="padding-bottom:1px"><img src="http://image.ktfmembers.com/image/cyberbill/201211_bill_txt_02.gif" width="100" height="23" alt="원 입니다" /></td>
<td>&nbsp;</td>
</tr>
</table>
</div>
</div>
<!-- 201211_디자인 변경 끝-->
</td>
</tr>

</table>
</div>


<div id="top_btn">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td><a href="https://my.olleh.com:444/URL_REDIRECT.jsp?u=charge/FarMonBillingInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill1_01.gif" border="0" alt="요금청구내역서 Fax/출력" height="33" hspace="10" /></a></td>
<td><a href="https://my.olleh.com:444/URL_REDIRECT.jsp?u=charge/FarPaymentInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill1_02.gif" border="0" alt="현금영수증 Fax/출력(개인)" height="33" /></a></td>
<td><a href="https://my.olleh.com:444/URL_REDIRECT.jsp?u=charge/FarPaymentInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill1_03.gif" border="0" alt="요금납부확인서 Fax/출력" height="33" hspace="10" /></a></td>
<td><a href="https://my.olleh.com:444/URL_REDIRECT.jsp?u=charge/FarPaymentInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill1_04.gif" border="0" alt="세금계산서 Fax/출력(법인,개인사업자)" height="33" /></a></td>
</tr>
</table>
</div>

<div class="sub_dot"></div>


<div id="customer">
<div id="customer_title" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201102_title_customer.gif" alt="고객정보" width="65" height="19"/></div>
<div id="customer_info">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="110" class="td_12_black_b_h26">핸드폰번호</td>
<td width="260" class="td_12_black">
010-11**-22**
</td>
<td width="10" rowspan="4"></td>
<td width="110" class="td_12_black_b_h26">총사용번호수</td>
<td width="260" class="td_12_black">
1
대</td>
</tr>
<tr>
<td height="1" bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
</tr>
<tr>
<td class="td_12_black_b_h26">고객명</td>
<td class="td_12_black">
<!-- CUST_NAME-->
이태백
님</td>
<td class="td_12_black_b_h26">상품명</td>
<td class="td_12_black">
i-미디엄
</td>
</tr>
<tr>
<td height="1" bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
</tr>
</tbody>
</table>
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="110" class="td_12_black_b_h26">고객주소</td>
<td class="td_12_black">
논현동이다.
</td>
</tr>

<tr>
<td colspan="2" height="3" bgcolor="#cccccc"></td>
</tr>
</tbody>
</table>
</div>
</div>

<div id="print">
<table width="770" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="right"><img id="print_btn2" src="http://image.ktfmembers.com/image/cyberbill/201112_btn_print.gif" onclick="javascript:jsPrintView('bizi_body_page2');" style="cursor:pointer" alt="인쇄하기" width="53" height="61"/></td>
</tr>
</table>
</div>

<div id="bizi_body_page2" style="z-index:1100">

<div id="bill_area">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="370" valign="top" rowspan="2"><table width="370" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="38" align="center" valign="middle" bgcolor="#e1e1e1">
<table width="369" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="119" align="left" class="td_15_gray_b_c" style="padding-left:10px">
2013
</td>
<td width="22"><img src="http://image.ktfmembers.com/image/cyberbill/201106_txt_year.gif" alt="년" width="12" height="17" hspace="5"/></td>
<td width="64" class="td_15_gray_b_c" style="padding-left:5px">
1
</td>
<td width="76" align="left"><img src="http://image.ktfmembers.com/image/cyberbill/201106_txt_month.gif" alt="월 명세서" width="66" height="17" hspace="5"/></td>
<td width="73" align="left">&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<table width="370" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2" height="5"></td>
</tr>
<tr>
<td width="175" align="left"><img src="http://image.ktfmembers.com/image/cyberbill/201004_txt_sum.gif" alt="금액" width="22" height="11"/></td>
<td width="195" class="bill_won_bg">
<!--명세서의금액부분TODO-->
28,150
</td>
</tr>
<tr>
<td colspan="2" height="3" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">핸드폰번호</td>
<td class="td_12_black">
010-11**-22**
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">고객명</td>
<td class="td_12_black">
<!-- CUST_NAME-->
이태백
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td height="20" class="td_12_red_b">명세서번호</td>
<td class="td_12_black">
11111
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">이용기간</td>
<td class="td_12_black">

~

</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>

<!-- 0월 요금 -->
<tr>
<td height="20" class="td_12_gray_b_h20">
1
월 요금
</td>
<td class="td_12_black">
28,150
원
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">미납요금</td>
<td class="td_12_black">
0
원
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td height="20" class="td_12_red_b">추가 인출일</td>
<td class="td_12_black">

</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">카&nbsp;드&nbsp;명</td>
<td class="td_12_black">예티카드</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">카드주명</td>
<td class="td_12_black">이태백</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">카드번호</td>
<td class="td_12_black">123456*********</td>
</tr>


<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td height="20" class="td_12_red_b">작성일자</td>
<td class="td_12_black">
2013년 01월 04일
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">공급자 등록번호</td>
<td class="td_12_black">
111-11-11111
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">공급받는자 등록번호</td>
<td class="td_12_black">
*************
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">세금계산서 공급가액</td>
<td class="td_12_black">
**********
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">부가가치세</td>
<td class="td_12_black">
**********
</td>
</tr>
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">10원미만할인요금</td>
<td class="td_12_black">
0
원
</td>
</tr>
<tr>
<td colspan="2" >
<!--전자승인번호-->
<table class="table_00" cellspacing="0" cellpadding="0"  >
<tr>
<td width="40%" class="table_01">전자 승인번호</td>
<td width="60%"  class="txt12_black_b">&nbsp;
<!--전자승인번호-->

</td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="center" valign="top" class="txt12_l10"> &nbsp;※ 말일까지 납부하시지 않을 경우 2%의 가산금이 부과됩니다.</td>
</tr>
<!--
<tr>
<td colspan="2" height="1" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td class="td_12_gray_b_h20">공급자 상호</td>
<td class="td_12_black">
-->
<!-- SUPPLIER_CO_LTD-->
<!--
</td>
</tr>
-->
</tbody>
</table></td>
<td width="10" rowspan="2"></td>
<td width="370" valign="top">
<!--영수증 페이지 receiptDetailInfo.java 시작-->
<table width="370" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="38" align="center" valign="middle" bgcolor="#e1e1e1"><table width="369" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="119" align="left" class="td_15_gray_b_c" style="padding-left:10px">2012</td>
<td width="22"><img src="http://image.ktfmembers.com/image/cyberbill/201106_txt_year.gif" alt="년" width="12" height="17" hspace="5"/></td>
<td width="64" class="td_15_gray_b_c" style="padding-left:5px">12</td>
<td width="78" align="left"><img src="http://image.ktfmembers.com/image/cyberbill/201106_txt_receipt.gif" alt="월 영수증" width="68" height="17" hspace="5"/></td>
<td width="71" align="left">&nbsp;</td></tr>
</table></td>
</tr>
</table>
<table width="370" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr><td colspan="2" height="5"></td></tr>
<tr>
<td width="175" align="left">&nbsp;</td>
<td width="195" height="18">&nbsp;</td>
</tr>
<tr><td colspan="2" height="3" bgcolor="#dfdfdf"></td></tr><tr>
<td class="td_12_gray_b_h20">
핸드폰번호</td>

<td class="td_12_black">
010-11**-22**</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">
명세서번호</td>

<td class="td_12_black">
11111</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">
고 객  명</td>

<td class="td_12_black">
이태백</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">
납 부 방 법</td>

<td class="td_12_black">
신용카드</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">
카드회원명</td>
<td class="td_12_black">
이태백</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">
카&nbsp;드&nbsp;사&nbsp;명</td>
<td class="td_12_black">
예티카드</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td class="td_12_gray_b_h20">
카&nbsp;드&nbsp;번&nbsp;호</td>
<td class="td_12_black">
123456*********</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td colspan="2" align="left" valign="top">
<table width="360" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px">
<tr>
<td valign="middle" height="55">
<a href="http://mycs.olleh.com/co/jsp/co410q_p01.jsp?page_code=MC_SG_01_00_00" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill2_01.gif" border="0" alt="전용계좌입금 납부안내" width="90" height="47" /></a>
<a href="http://mycs.olleh.com/co/jsp/co410q_p01.jsp?page_code=MC_SG_01_00_00" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill2_03.gif" border="0" alt="사이버신용카드 납부안내" width="90" height="47" /></a>
<a href="http://www.olleh.com/index.asp?code=FB000" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill2_04.gif" border="0" alt="납부방법 변경" width="90" height="47" /></a>
</td>
</tr>
</table>
</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
</tbody>
</table>
<table width="370" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr><td colspan="2" height="3" bgcolor="#dfdfdf"></td></tr>
<tr>
<th colspan="2" class="td_12_black_b_c_h22_bg2">납부내역</th>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
</thead>
<tbody>
<tr>
<td align="center" valign="top"><table width="360" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="180" height="20" class="td_12_black_b_c">인 출 일 자</td>
<td width="180" class="td_12_black_b_c">영 수 금 액</td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td height="20" class="td_12_black_c">
****.**.**</td>
<td height="20" class="td_12_black_c">
27,950</td>
</tr>
<tr>
<td height="20" class="td_12_black_c">
&nbsp;</td>
<td height="20" class="td_12_black_c">
&nbsp;</td>
</tr>
</table>
</td>
</tr>
</tbody>
</table>

<!--영수증 페이지 receiptDetailInfo.java 종료-->


</td>
</tr>
<tr>






<td width="370" valign="bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td colspan="2" height="1" bgcolor="#dfdfdf"></td></tr>
<tr>
<td width="15" class="bill_text2" valign="top"> ※ </td>
<td width="365" class="bill_text2">
본 <span class="td_11_black_b">영수증</span>은
<span class="td_11_black_b">01</span> 월 <span class="td_11_black_b">04</span> 일 
기준으로 작성되었으며, <br><p class="bill_text2">전산적용기준일 이후 납부하신 요금은 반영되지 않았습니다.</p>
<p class="bill_text2">위 금액은 지정 예금계좌(신용카드)에서 자동이체 되었습니다. 감사합니다.</p></td>
</tr>
<tr>
<td colspan="2">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="15" height="65"> </td>
<td width="281">
<table width="263" border="0" cellspacing="0" cellpadding="0">
<!--납부전용계좌-->
<tr>
<td width="255" class="table_e1" style="border:#ee2d33 1px solid;">고객님의 납부 전용계좌<br />
예티은행 : 111-11111-111111<br />
예 금 주 : hub team
</td>
</tr>
</table>
</td>
<td width="74" >
<span class="bill_text2">
<img src="http://image.ktfmembers.com/image/cyberbill/201109_bill_kt.gif" alt="(주)케이티" width="60" height="60" vspace="2"/></span>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>

<div id="bill_text">
<table width="750" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="370">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td colspan="2" height="3" bgcolor="#dfdfdf"></td>
</tr>

<tr>
<td width="2" bgcolor="#dfdfdf"></td>
<td class="bill_text1">
<span class="td_11_black2">본 영수증</span>에 <span class="td_11_black2">공급 받는 자 사업자등록번호가 기재된 경우 </span><span class="td_11_black2">성남세무서장</span>에게
등록한 <span class="td_11_black2">사업자가 발행한 전자세금계산서 및 계산서입니다.</span>
<br /><br><p><span class="td_11_black_b">(주)케이티</span></p>
</td>
</tr>
</table>
</td>
<td width="10">&nbsp;</td>
<td width="370" align="center" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="3" bgcolor="#dfdfdf"></td>
</tr>
<tr>
<td align="center" valign="top">
<br /><img src="http://image.ktfmembers.com/image/cyberbill/201106_kt_b.gif" width="89" height="24" alt="(주)케이티" />
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>


</div>

</div>
<!--영수증 미리보기 종료-->


</div>
<!-- 청구서 및 영수증 미리보기 종료-->

</div>
<!--사용요금 tab menu page end-->



<!-- ################### Tab 페이지 구분선 ################### -->


<!--상세내역 tab menu page start-->
<!--relative absolute-->
<div style="position:relative; z-index:2003">

<!-- <div id="tab_detail" style="position:absolute; top:0px; left:0px; visibility:hidden; z-index:1000;"> -->
<div id="tab_menu2" style="top:0px; left:0px; display:none; z-index:1000;">

<div id="sub_btn1">
<table width="770" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="right"><a href="https://my.olleh.com:444/URL_REDIRECT.jsp?u=/charge/ThisMonBillingInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_give.jpg" border="0" alt="요금납부" width="53" height="61" hspace="5" /></a>&nbsp;<img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_print.gif" onclick="javascript:jsPrintView('bizi_body_page3');" style="cursor:pointer"  alt="인쇄하기" width="53" height="61"/></td>
</tr>
</table>
</div>

<!-- 상세내역 미리보기 시작 -->
<div id="bizi_body_page3" style="z-index:1100">

<div id="customer1">
<div id="customer_title1" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201102_title_customer.gif" alt="고객정보" width="65" height="19"/></div>
<div id="customer_info1">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="110" class="td_12_black_b_h26">핸드폰번호</td>
<td width="260" class="td_12_black">
010-11**-22**
</td>
<td width="10" rowspan="4"></td>
<td width="110" class="td_12_black_b_h26">총사용번호수</td>
<td width="260" class="td_12_black">
1
대</td>
</tr>
<tr>
<td height="1" bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
</tr>
<tr>
<td class="td_12_black_b_h26">고객명</td>
<td class="td_12_black">
<!-- CUST_NAME-->
이태백
님</td>
<td class="td_12_black_b_h26">상품명</td>
<td class="td_12_black">
i-미디엄
</td>
</tr>
<tr>
<td height="1" bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
</tr>
</tbody>
</table>
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="110" class="td_12_black_b_h26">사용기간</td>
<td class="td_12_black">

~

(
2013
년
01
월 명세서)
</td>
</tr>

<tr>
<td colspan="2" height="3" bgcolor="#cccccc"></td>
</tr>
</tbody>
</table>
</div>
</div>



<!-- 사용내역 개편 설명문 시작 -->
<div id="use">

<!-- 사용내역 시작 -->
<div id="use_title" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201102_title_detail_use.gif" alt="사용내역" width="56" height="19"/></div>
<div id="new_use_area">
<table width="750" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
<tr>
<td valign="top"><table width="750" border="0" cellspacing="0" cellpadding="0">
<col class="u_td_1">
<col class="u_td_2">
<tbody>
<!--요금상세내역-->
<tr><td colspan="2" height="1" bgcolor="#cccccc"></td></tr>
<tr>
<td><span class="u_13_black_b">단말기 할부금</span><span class="u_13_black_b_r"></span></td>
<td class="u_12_black_desc"></td>
</tr>
<tr>
<td><span class="u_12_black_b">단말기 할부금</span><span class="u_12_black_b_r"></span></td>
<td class="u_12_black_desc"></td>
</tr>
<tr>
<td><span class="u_12_black">할부원금(*)</span><span class="u_12_black_r">28,150원</span></td>
<td class="u_12_black_desc">▶고객님의 할부원금은 이번달에 마지막으로 청구되었습니다.</td>
</tr>
<tr><td colspan="2" height="3" bgcolor="#cccccc"></td></tr>
<tr>
<td><span class="u_amt_red_b">당월 요금</span><span class="u_amt_black_b_r">28,150원</span></td>
<td class="u_12_black_desc"></td>
</tr>
<tr><td colspan="2" height="1" bgcolor="#cccccc"></td></tr>
<tr>
<td><span class="u_amt_red_b">납부하실 금액</span><span class="u_amt_black_b_r">28,150원</span></td>
<td class="u_12_black_desc"></td>
</tr>
<tr><td colspan="2" height="3" bgcolor="#cccccc"></td></tr>

</tbody>
</table></td>
</tr>
</table>
</div>
<!--부가치세 총합-->
<div id="use_text1"><table width="750" border="0" cellspacing="0" cellpadding="0"><tr><td class="td_11_black">※ 위의 청구 항목 중 (*) 표시 항목은 부가가치세(10%) 비과세 대상입니다. (당월 부가세(할인액 부가세 포함) 총액은 0 원입니다.)</td></tr></table></div>
<!-- 사용내역 종료 -->
</div>
<!-- 사용내역 개편 설명문 종료 -->

<!-- 할인상세 내역 시작 -->

<!-- 할인상세 내역 종료 -->

<div id="detail">

<!-- 지난날 사용량 및 무료통화 상세안내 시작 -->
<div id="detail_title" class="sub_title">
<img src="http://image.ktfmembers.com/image/cyberbill/201205_title_detail_detail.gif" alt="사용 상세내역"/>
</div>
<div id="detail_area">
<table class="user_info">
<colgroup>
<col width="25%" />
<col width="25%" />
<col width="25%" />
<col width="25%" />
</colgroup>
<thead>
<tr>
<th>구분</th>
<th>전체 사용량</th>
<th>기본 제공</th>
<th>기본제공 사용량</th>
</tr>
</thead>
<tbody>
<tr><td class="td_12_black_h26_bg"></td><td class="td_12_black_r_h26_bg"></td><td class="td_12_black_r_h26_bg"></td><td class="td_12_black_r_h26_bg"></td></tr>
<tr><td class="td_12_black_h26_bg"></td><td class="td_12_black_r_h26_bg"></td><td class="td_12_black_r_h26_bg"></td><td class="td_12_black_r_h26_bg"></td></tr>
<tr><td class="td_12_black_h26_bg"></td><td class="td_12_black_r_h26_bg"></td><td class="td_12_black_r_h26_bg"></td><td class="td_12_black_r_h26_bg"></td></tr>


</tbody>
</table>
</div>

<!-- 지난날 사용량 및 무료통화 상세안내 종료 -->

</div>

<!-- 선택상품에 따른 할인 안내 시작 -->

<!-- 선택상품에 따른 할인 안내 종료 -->

<!-- 단말기할부금상세내역 출력 -->
<div id="sale">
<div id="sale_title" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201205_title_02.gif" alt="단말기 할부금 상세내역"/></div>
<div id="detail_area">
<table width="750" border="0" cellspacing="1" cellpadding="0" bgcolor="#cccccc">
<tbody>
<tr>
<td class="td_12_black_c_h26_bg">※ 고객님께서는 단말기 할부금 상세 내역정보가 없습니다.</td>
</tr></tbody>
</table>
</div>
</div>

<!-- 단말기할부금상세내역 출력 -->

<!-- 단말기 구매내역 출력 -->
<!--HANDSET_PAYLIST-->
<!-- 단말기 구매내역 출력 -->

<!-- 약정기간 출력 -->
<!--CONTACT_DATE-->
<!-- 약정기간 출력 -->

<!-- 예상해지 위약금 출력 -->
<!--PENALTY_CHARGE-->
<!-- 예상해지 위약금 출력 -->

<!-- 그래프 정보 출력 -->
<div id="graphInfo">
<div id="graphInfo_title" class="sub_title">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="http://image.ktfmembers.com/image/cyberbill/201009_title_graph_info.gif" alt="최근4개월요금내역" width="131"/></td>
<td align="right"><a href="https://my.olleh.com:444/URL_REDIRECT.jsp?u=charge/FarMonBillingInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201102_btn_bill2_07.gif" alt="월별 사용요금조회" height="19"/></a></td></tr>
</table>
</div><div id="graphInfo_area">
<table width="750" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tr>
<td width="90" height="200">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tr><td class="td_12_black_b_r" height="40" width="90" align="right" valign="top">34,000</td></tr>
<tr><td class="td_12_black_b_r" height="40" width="90" align="right" valign="top">27,200</td></tr>
<tr><td class="td_12_black_b_r" height="40" width="90" align="right" valign="top">20,400</td></tr>
<tr><td class="td_12_black_b_r" height="40" width="90" align="right" valign="top">13,600</td></tr>
<tr><td class="td_12_black_b_r" height="40" width="90" align="right" valign="top">6,800</td></tr>
</table>
</td>
<td width="25"><table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"><tr><td width="23">&nbsp;</td><td width="2" height="200" bgcolor="#cccccc"></td></tr></table></td>
<td width="600" height="200" align="left">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tr>
<td class="td_12_black_b_r" width="75" height="200" align="center" valign="bottom">0<br/> </td>
<td class="td_12_black_b_l" width="75" align="center" valign="bottom">27,950<br/><img src="http://image.ktfmembers.com/image/cyberbill/201109_gray_line.gif" alt="그래프" border="0" width="15" height="164"></td>
<td class="td_12_black_b_r" width="75" height="200" align="center" valign="bottom">0<br/> </td>
<td class="td_12_black_b_l" width="75" align="center" valign="bottom">27,950<br/><img src="http://image.ktfmembers.com/image/cyberbill/201109_gray_line.gif" alt="그래프" border="0" width="15" height="164"></td>
<td class="td_12_black_b_r" width="75" height="200" align="center" valign="bottom">0<br/> </td>
<td class="td_12_black_b_l" width="75" align="center" valign="bottom">27,950<br/><img src="http://image.ktfmembers.com/image/cyberbill/201109_gray_line.gif" alt="그래프" border="0" width="15" height="164"></td>
<td class="td_12_black_b_r" width="75" height="200" align="center" valign="bottom">0<br/> </td>
<td class="td_12_black_b_l" width="75" align="center" valign="bottom">28,150<br/><img src="http://image.ktfmembers.com/image/cyberbill/201109_gray_line.gif" alt="그래프" border="0" width="15" height="165"></td>
</tr>
</table>
</td>
<td width="35">&nbsp;</td>
</tr>
<tr>
<td width="90" height="2"></td>
<td width="25" height="2">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"><tr><td width="23" height="2"></td><td width="2" height="2" bgcolor="#cccccc"></td></tr></table>
</td>
<td width="600" height="2" bgcolor="#cccccc"></td>
<td width="35" height="2"></td>
</tr>
<tr>
<td width="90">&nbsp;</td>
<td width="25">&nbsp; </td>
<td width="600">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tr>
<td class="td_12_black_b_c" width="150" height="20" >2012.10월</td>
<td class="td_12_black_b_c" width="150" height="20" >2012.11월</td>
<td class="td_12_black_b_c" width="150" height="20" >2012.12월</td>
<td class="td_12_black_b_c" width="150" height="20" >2013.01월</td>
</tr>
</table>
<td width="35">&nbsp;</td>
</tr>
</table>
<table width="750" border="0" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<td class="td_11_black">※ 그래프에 표시된 요금 내역은 선/미납금이 제외된 금액입니다.</td>
<td width="168"><img src="http://image.ktfmembers.com/image/cyberbill/201205_graph_tab.gif" width="132" height="11" /></td>
</tr>
</tbody>
</table>
</div>
</div>

<!-- 그래프 정보 출력 -->

<!-- 콜패턴정보 출력 -->
<div id="timecurrency">
<div id="timecurrency_title" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201106_title_time_currency.gif" alt="시간대 별 통화 비중" width="207" height="19"/></div>
<div id="timecurrency_area">
<table width="750" border="0" cellspacing="1" cellpadding="0" bgcolor="#cccccc">
<thead>
<tr>
<th width="185" class="th_12_black_b_c_h26_bg">0 ~ 6시</th>
<th width="185" class="th_12_black_b_c_h26_bg">6시 ~ 12시</th>
<th width="185" class="th_12_black_b_c_h26_bg">12시 ~ 18시</th>
<th width="185" class="th_12_black_b_c_h26_bg">18시 ~ 24시</th>
</tr>
</thead>
<tbody>
<tr>
<td class="td_12_black_c_h26_bg">0 %</td>
<td class="td_12_black_c_h26_bg">0 %</td>
<td class="td_12_black_c_h26_bg">0 %</td>
<td class="td_12_black_c_h26_bg">0 %</td>
</tr>
</tbody>
</table>
<table width="750" border="0" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<td class="td_11_black_r">※ 전 전월 기준</td>
</tr>
</tbody>
</table>
</div>
</div>

<!-- 콜패턴정보 출력 -->



<!-- olleh kt club  및 쇼마일리지 출력 -->
<div id="mileage">
<div id="mileage_title" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201102_title_detail_show.gif" alt="장기마일리지(구) 내역" height="19"/></div>
<div id="mileage_area">
<table width="750" border="0" cellspacing="1" cellpadding="0" bgcolor="#cccccc">
<thead>
<tr>
<th width="125" class="th_12_black_b_c_h26_bg">고객 등급</th>
<th width="125" class="th_12_black_b_c_h26_bg">잔여포인트</th>
<th width="125" class="th_12_black_b_c_h26_bg">전월 적립 </th>
<th width="125" class="th_12_black_b_c_h26_bg">전월 사용</th>
<th width="125" class="th_12_black_b_c_h26_bg">당월 소멸</th>
<th width="125" class="th_12_black_b_c_h26_bg">익월 소멸 예정</th>
</tr>
</thead>
<tr>
<td class="td_12_black_c_h26_bg"></td>
<td class="td_12_black_r_h26_bg"></td>
<td class="td_12_black_r_h26_bg"></td>
<td class="td_12_black_r_h26_bg"></td>
<td class="td_12_black_r_h26_bg"></td>
<td class="td_12_black_r_h26_bg"></td>
</tr>
</table>
<table width="750" border="0" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<td class="td_11_black">※ 마일리지는 유무선 부가서비스, 모바일 데이터상품 등 다양한 사용처에서 사용하실 수 있습니다. 자세한 사항은 올레닷컴(www.olleh.com), 모바일고객센터 어플을 참조하세요.</td></tr>
</tbody>
</table>
</div>
</div>

<!-- olleh kt club  및 쇼마일리지 출력 -->

<!-- 상세내역 미리보기 종료 -->
</div>

<div id="bot_btn">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td><a href="http://my.olleh.com/order/FarPriceMainInfo2.jsp" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_detail_01.jpg" border="0" alt="요금상품 안내 자세히보기" width="180" height="55" hspace="10" /></a></td>
<td><a href="http://my.olleh.com/order/SvcRegularInfoList.jsp" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_detail_02.jpg" border="0" alt="부가서비스 안내 자세히보기" width="180" height="55" /></a></td>
<td><a href="http://my.olleh.com/URL_REDIRECT.jsp?u=/order/FarPricePlanInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_detail_03.jpg" border="0" alt="요금상품 변경 바로가기" width="180" height="55" hspace="10" /></a></td>
<td><a href="http://my.olleh.com/URL_REDIRECT.jsp?u=/order/SvcRegularSocInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_detail_04.jpg" border="0" alt="부가서비스 신청/변경 바로가기" width="180" height="55" /></a></td></tr>
<tr>
<td><a href="http://image.ktfmembers.com/image/cyberbill/200710_bill_banner_06.gif" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_detail_05.jpg" border="0" alt="주민등록번호 단순도용 처벌 안내" width="180" height="55" hspace="10" vspace="10" /></a></td>
<td><a href="http://my.olleh.com/order/SvcRegularMain.jsp?main_cd=14&brand_cd=D&xml_file_nm=FarPriceDataSpamFilter.xml" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201301_btn_detail_06.jpg" border="0" alt="스팸차단서비스 바로가기" width="180" height="55" vspace="10" /></a></td>
<td><a href="http://smartblog.olleh.com/2314" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201301_btn_detail_07.jpg" border="0" alt="핸드폰 명의 대여 개통 대출사기 주의 안내" width="180" height="55" hspace="10" vspace="10" /></a></td>
<td><a href="http://image.ktfmembers.com/image/cyberbill/201211_bill_banner_21.gif" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_detail_08.jpg" border="0" alt="핸드폰 소액결제 세부 이용 내역 조회 방법 안내" width="180" height="55" vspace="10" /></a></td>
</tr>
</table>
</div>

</div>
</div>
<!--상세내역 tab menu page end-->


<!-- ################### Tab 페이지 구분선 ################### -->


<!--정보이용료 소액결재 내역 tab menu page start-->
<div style="position:relative; z-index:2002">

<!-- <div id="tab_number" style="position:absolute; top:0px; left:0px; visibility:hidden; z-index:1000;"> -->
<div id="tab_menu3" style="top:0px; left:0px; display:none; z-index:1000;">

<div id="sub_btn2">
<table width="770" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="right">
<a href="https://my.olleh.com:444/URL_REDIRECT.jsp?u=/charge/ThisMonBillingInfo.action" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_give.jpg" border="0" alt="요금납부" width="53" height="61" hspace="5" /></a> <img src="http://image.ktfmembers.com/image/cyberbill/201112_btn_print.gif" onclick="javascript:jsPrintView('bizi_body_page4');" style="cursor:pointer"  alt="인쇄하기" width="53" height="61"/>
</td>
</tr>
</table>
</div>


<!--정보이용료 소액결재 내역 미리보기 시작-->
<div id="bizi_body_page4" style="z-index:1100">

<div id="customer2">
<div id="customer_title2" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201102_title_customer.gif" alt="고객정보" width="65" height="19"/></div>
<div id="customer_info2">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="110" class="td_12_black_b_h26">핸드폰번호</td>
<td width="260" class="td_12_black">
010-11**-22**
</td>
<td width="10" rowspan="4"></td>
<td width="110" class="td_12_black_b_h26">총사용번호수</td>
<td width="260" class="td_12_black">
1
대</td>
</tr>
<tr>
<td height="1" bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
</tr>
<tr>
<td class="td_12_black_b_h26">고객명</td>
<td class="td_12_black">
<!-- CUST_NAME-->
이태백
님</td>
<td class="td_12_black_b_h26">상품명</td>
<td class="td_12_black">
i-미디엄
</td>
</tr>
<tr>
<td height="1" bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
<td bgcolor="#cccccc"></td>
</tr>
</tbody>
</table>
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="110" class="td_12_black_b_h26">사용기간</td>
<td class="td_12_black">

~

(
2013
년
01
월 명세서)
</td>
</tr>

<tr>
<td colspan="2" height="3" bgcolor="#cccccc"></td>
</tr>
</tbody>
</table>
</div>
</div>

<!-- 정보료상세내역 출력 -->
<div id="idrinfo">
<div id="idrinfo_title" class="sub_title"><img src="http://image.ktfmembers.com/image/cyberbill/201205_title_detail_idrinfo.gif" alt="컨텐츠이용료 상세내역"/></div>
<div id="idrinfo_area">
<table width="750" border="0" cellspacing="1" cellpadding="0" bgcolor="#cccccc">
<tbody>
<tr>
<td class="td_12_black_c_h26_bg">※ 고객님이 사용하신 컨텐츠 사용내역이 없습니다.</td>
</tr></tbody>
</table>
</div>
</div>

<!-- 정보료상세내역 출력 -->

<!-- 소액결제 정보 출력 -->
<div id="cashinfo">
<div id="cashinfo_title" class="sub_title"><table width="750" border="0" cellspacing="0" cellpadding="0"><tr><td><img src="http://image.ktfmembers.com/image/cyberbill/201205_title_detail_cashinfo.gif" alt="소액결제 상세내역"/></td><td align="right"><a href="http://www.olleh.com/index.asp?code=FAH00" target="_blank" onfocus="this.blur();"><img src="http://image.ktfmembers.com/image/cyberbill/201110_btn_bill2_08.gif" alt="소액결제 내역조회" height="19"/></a></td></tr></table></div>
<div id="cashinfo_area">
<table width="750" border="0" cellspacing="1" cellpadding="0" bgcolor="#cccccc">
<tbody>
<tr>
<td class="td_12_black_c_h26_bg">※ 해당 기간에는 소액결제를 사용하신 내역이 없습니다.</td>
</tr>
</tbody>
</table>
<table width="750" border="0" cellspacing="1" cellpadding="0"><tr><td height="5"></td></tr><tr><td><img src="http://image.ktfmembers.com/image/cyberbill/201211_bill_banner_1.gif" alt="세부 이용내역 조회 방법" width="750" /></td></tr></table></div>
</div>

<!-- 소액결제 정보 출력 -->



</div>

</div>

</div>
<!--정보이용료 소액결재 내역 tab menu page end-->


<!-- ################### Tab 페이지 구분선 ################### -->



<!-- ################### Tab 페이지 구분선 ################### -->

<!--번호별 상세내역 tab menu page start-->
<div style="position:relative; z-index:2001">

<!-- <div id="tab_number" style="position:absolute; top:0px; left:0px; visibility:hidden; z-index:1000;"> -->
<div id="tab_menu4" style="top:0px; left:0px; display:none; z-index:1000;">

<!--DETAIL_HEADER-->

<!--번호별 상세내역 미리보기 시작-->
<div id="bizi_body_page5" style="z-index:1100">

<div id="number">



<!-- item_template.hkx 파일 시작 -->
<!--DETAIL_DATA-->
<!-- item_template.hkx 파일 종료 -->

</div>
<div id="global">

<!--국제전화 사용 내역서 시작-->
<!--OSC_INNER-->
<!--INNER_SUM-->
<!--국제전화 사용 내역서 종료-->

</div>

</div>
<!--번호별 상세내역 미리보기 시작-->

<!--DETAIL_TAIL-->

</div>

</div>
<!--번호별 상세내역 tab menu page end-->


<!-- ################### Tab 페이지 구분선 ################### -->


<!--안내/이벤트 tab menu page start-->
<div style="position:relative; z-index:2000">

<!-- <div id="tab_guide" style="position:absolute; top:0px; left:0px; visibility:hidden; z-index:1000;"> -->
<div id="tab_menu5" style="top:0px; left:0px; display:none; z-index:1000;">

<div id="guide2">
<!--안내문 박스 시작-->
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tr><td class="guide2_area_top"></td></tr>
<tr>
<!--안내문 내용 시작-->
<td align="center" class="guide2_area_center">
<ul>

<li class="td_12_black_h18">자동납부(은행자동이체, 유무선합산) 신청 시 제공된 1% 할인이 2013.1.1일부터 미제공됩니다. 단, 2012.12.31일 기준 자동납부를 이용하고 계신 경우 납부방법을 유지하는 동안에는 기존과 동일하게 할인 혜택이 제공됩니다.</li>
<li class="td_12_black_h18">2013년도 올레클럽 정기 고객등급 조정이 1월1일에 반영되었습니다. 고객님의 올레클럽 회원 등급은 올레클럽 웹페이지 또는 앱에서 확인가능합니다.</li>
<li class="td_12_black_h18">신용카드는 매월 11~14일경(1차 승인 거절시 2차 18~20일경, 2차 거절시 3차 23~25일경 )에 승인처리되며 승인된 금액은 신용카드사에서 고객님의 카드 결제일에 청구합니다.</li>
<li class="td_12_black_h18">'iPad mini와 iPad Retina 디스플레이도 역시 올레에서!' 국내에서 가장 저렴한 1.5GB 요금제와 타사보다 20% 더 많은 데이터량, 데이터 소진시에도 초과 요금 걱정 없는 안심 차단 요금제로 최신 아이패드를 만나보세요. (즉시 가입 신청 ☞ http://ow.ly/fw3xg)</li>
<li class="td_12_black_h18">올레클럽 회원이면 누구나 누릴 수 있는 도심 속 겨울낭만, 서울 남산 반얀트리호텔에서 눈썰매장&아이스링크를 최대 30%에 이용하세요 (자세한 내용은 club.olleh.com 및 http://olle.in/5z2u 참조)</li>
<li class="td_12_black_h18">올레닷컴을 통해 3월 17일까지 인터넷과 TV를 동시에 신규로 가입하신 선착순 1,000명께, 최고의 가족게임기 Xbox360(4GB패키지,30만원상당)을 사은품으로 드립니다.(가입신청/문의는 shop.olleh.com 참조)</li>
<li class="td_12_black_h18">KT는 방송통신위원회, 한국정보화진흥원과 함께 전화 이용이 어려운 청각,언어장애인이 비장애인과 자유롭게 의사소통을 하실 수 있도록 실시간 통신중계서비스를 시행합니다.<br />이용방법 : 국번없이 107 (이동전화/인터넷전화 영상통화, 이동전화 SMS 이용)<br />이용시간 : 연중무휴(365일 24시간) ※ 자세한 사항은 웹사이트 참조(www.relaycall.or.kr)</li>
<li class="td_12_black_h18">최근 대출사기 등으로 명의대여 휴대폰 개통 피해가 발생하고 있으니 주의 바랍니다. 자세한 내용은 http://smartblog.olleh.com/2314 에서 확인하시기 바랍니다.</li>
<li class="td_12_black_h18">'불법TM 참지말고 신고하세요!' 자세한 내용은 올레닷컴(http://www.olleh.com) 초기화면 우측하단의 '알려드립니다'의 ‘kt 공식 고객 안내 활동, 식별 방법 안내’ 를 확인하세요. (*게시번호: 624번)</li>
<li class="td_12_black_h18">똑똑한 스마트 지킴이만 있으면 걱정 끝! 언제 어디서나 나를 지켜주는 빠른 SOS! ‘olleh 스마트지킴이’ 자세한 내용은 www.olleh.com에서 확인 하실 수 있습니다.</li>
<li class="td_12_black_h18">소지하고 계신 핸드폰을 새폰처럼 사용하실 계획이라면, olleh 그린폰 클리닉서비스를 이용해 보세요. 자세한 내용은 (http://mobileblog.olleh.com/1510, 1577-6096)을 참조, 문의하시기 바랍니다.</li>
<li class="td_12_black_h18">olleh집전화는 112, 119 신고시 발신자의 위치가 자동파악 되므로 고객님의 안전을 지켜주며, 별도 전원을 사용하지 않으므로 전기료가 절약 됩니다.(가입 및 결합문의 | 국번없이 100번)</li>
<li class="td_12_black_h18">통신비를 절감하는 스마트한 방법</br>하나. 올레 와이파이콜로 통화하면 무료통화가 최대 2배로 늘어납니다!! 아이폰은 앱스토어, 안드로이드폰은 올레마켓에서 올레 와이파이콜 어플을 다운로드하세요.</br>둘. 올레 와이파이콜로 무제한 무료통화를 즐기세요!! 지정번호 무제한 요금제로 월 1천원이면 2개의 번호로 무제한 무료통화가 가능합니다.</br>고객님의 단말기로 이용하실 수 있는지 등 자세한 내용은 올레플라자/대리점 방문, 전화 문의(핸드폰: 114/일반전화: 1588-0010), 또는 올레닷컴(olleh.com)을 통하여 확인하실 수 있습니다.</li>
<li class="td_12_black_h18">청소년 11.4%가 스마트폰 중독이라는 것 아시나요? 자녀 스마트폰에서 560만 개의 유해물 무방비 노출 불안하시죠? ‘olleh 자녀폰 안심’이 유해물과 스마트폰 중독으로부터 자녀를 지켜드립니다. 자세한 내용은 kidsafe.olleh.com을 참조하시길 바랍니다.</li>
<li class="td_12_black_h18">서비스 해지를 한 통신사 고객센터나 홈페이지, KTOA 미환급액 조회사이트(www.ktoa-refund.kr)에서 해지된 서비스에 남아있는 과오납금을 확인하신 후 환급을 신청하시기 바랍니다.</li>
<li class="td_12_black_h18">2010년 3월 30일부터 기초생활수급자, 장애인, 국가유공자(단, 상이등급 이상만 해당)는 올레플라자 및 모바일상품 고객센터, 온라인(www.oklife.go.kr)을 통해 본인 확인을 거친 후 요금 감면을 신청하실 수 있습니다.</li>
<li class="td_12_black_h18">소액결제 또는 컨텐츠이용료를 납부하실 고객님께 각각 컨텐츠이용료 상세내역, 소액결제 상세내역을 명세서에서 제공하고 있습니다. 해당내역의 제공을 원하지 않으시면 모바일상품 고객센터(핸드폰으로 114 또는 http://my.olleh.com) 로 거부신청해 주시기 바랍니다.</li>
<li class="td_12_black_h18">신용카드 정보(카드번호, 유효기간)가 변경되면, 납부정보를 은행이체로 변경 또는 카드정보를 확인하시어 모바일상품 고객센터로 연락주시기 바랍니다.</li>
<li class="td_12_black_h18">핸드폰 사용 Tip!! 음성/문자 수발신 불가시 핸드폰을 껐다 켜주시면 핸드폰 사용에 도움이 됩니다.</li>

</ul>
</td>
<!--안내문 내용 종료-->
</tr>
<tr><td class="guide2_area_bot"></td>
<!--안내문 박스 종료-->



<!--설문조사-->
<!--SURVEY6-->
<!--ALIMI_BANNER-->
<!--USIM_BANNER-->
<!--BANNER-->


</tr></table></div>

</div>

</div>
<!--안내/이벤트 tab menu page end-->
<!--영문 청구서  tab menu page start-->
<div style="position:relative; z-index:2000" id="bizi_en_page">
<div id="tab_menu6" style="top:0px; left:0px; display:none; z-index:1000;">
<!--ENGLISH_MOBILL-->
</div>
</div>
<!--영문 청구서 tab menu page end-->


</div>

<div id="s_footer"><img src="http://image.ktfmembers.com/image/cyberbill/201107_copy.gif" alt="Copyright ⓒ 2010 kt corp All rights reserved.
463-711 경기도 성남시 분당구 정자동 206 kt
문의전화: ☎ (유료)1588-0010 | (무료)olleh 폰 114 또는 국번없이 100번" width="830" height="125" border="0" usemap="#Map_showcopy" />
<map name="Map_showcopy" id="Map_showcopy">
<area shape="rect" coords="407,67,469,87" href="http://my.olleh.com/faq/exMailQuestion_iframe.jsp" target="_blank" alt="E-MAIL상담" />
</map>
</div>
</div>

</div>
<!--p_body-->
</body>
</html>
