	<body  onLoad="setTimeout('ready()', 0);" style="text-align:center;">
	<noscript>
		<div id="noscript">
			<div class="install notice">
				보안메일 열람 안내<br/>
				<font style="font-size:10pt;">(Security email reading notice.)</font>
			</div>
			<div class="install">
				<h1 class="pc">Windows &amp; Mac OS X &amp; GNU/Linux</h1>
				<div id="subnotice2">보안 메일 첨부파일을 저장후 실행하여 주십시요.
				<br/><font style="font-size:8pt;">(Please excute after save the attached file.)</font>
				</div>
			 <h2 class="detail"> <a href="http://www.yettiesoft.com/m/product/vestmail/info/pc_info.html" target="_blank">자세한 방법 보기<br>(Learn how)</a></h2>
			</div>
			<div class="install">
				<h1 class="iphone">iPhone</h1>
				<h2 class="browser subnotice">iOS 보안메일 열람 안내 <font style="font-size:8pt;">(Read immediately)</font></h2>
				&nbsp;&nbsp;<font style="font-weight:bold;">HTML, JavaScript 동작 가능한 모든 앱(브라우저)</font>에서 열람이 가능합니다.<br/>&nbsp;단, 고객님의 사용환경(메일종류, 열람방법)에 따라 전용뷰어 또는 호환 앱 설치가 필요할 수 있습니다.<br/>&nbsp;브라우저에서 바로열람이 안되실 경우 전용뷰어 설치 후, 메일 앱에서의 열람을 권장합니다.<br/>
                <font style="font-size:8pt;">&nbsp;(전용뷰어(VestMail)설치 후 하단 또는 상단의 공유버튼<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAARCAIAAABmX9r1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAG4SURBVChTY/iPAP/+//+14vz7E/e/QAVgAFnR/wlHPjFEvWNIeXPqyTeoEBggFFVveceQ/Za/9oNo+3eGjIfbb36ESiArKln8dO/9r45dN2ecf9u77cOig++hEkBFD958O3b748n7ny88/Pr//1/9+js9+9+///bj2MMvp+59PnH7/ccvPxkEc24wpj7lTb/BEH2pbfdzi967PcdfeLTeZUm8IpB5iSHybsKChwwC+Xc33vr6/s+fxz9+A03WrbvTdeDN3///nnz//fHfn9xNH0Ln3WfgL7xx5BbCL+q1Vzt3v4Ry/v8v3/AmbOFjoElXD9wEugYKNGrutO5/B+UAFa1/EQq27hqyIpWqa617ESaVgRQ9Qlfk03dj1uFnUA6qIqib/v35++bLz09gH0AA0LoQoHUiedcO3fwMEfr379//f3/BkQgB/4rXvwqf95iBr+jagdvoMQoHJetehS64zyCad+fkve9gEaAB6Khm28vgRfcZ2FOu+M1/lbPyacqK52nLXqctf5W6/AUE5a19qVL5KXDqE4a+A28jFz2OXfIsdtGj2EWPYxY/iV0CQ4ufRMx/tOPGewDWYu3RKWf26wAAAABJRU5ErkJggg==" style="vertical-align:bottom;"> 클릭, 앱 선택과정이 필요 합니다.)</font>
                <ul style="margin:5px 5px 0 0;height:30px;">
					<li><a href="https://itunes.apple.com/kr/app/vestmail/id733722078?mt=8"><font style="font-weight:bold;color:blue;font-size:20px;">전용 뷰어 다운로드 (viewer): VestMail</font></a></li>
				</ul>
				<h2 class="detail"><a href="http://www.yettiesoft.com/m/product/vestmail/info/iphone_info.html" target="_blank">자세한 방법 보기<br>(Learn how)</a></h2>
			</div>
			<div class="install">
				<h1 class="android">Android</h1>
                <h2 class="browser subnotice">Android 보안메일 열람 안내 <font style="font-size:8pt;">(Read immediately)</font></h2>
				&nbsp;&nbsp;<font style="font-weight:bold;">HTML, JavaScript 동작 가능한 모든 앱(브라우저)</font>에서 열람이 가능합니다.<br/>&nbsp;단, 고객님의 사용환경(메일종류, 열람방법)또는 스마트폰 제조사 보안정책에 따라 전용뷰어 또는 호환 브라우저의 설치가 필요할 수 있습니다.<br/><br/>&nbsp;&nbsp;<font style="font-weight:bold;">HTML Viewer는 지원하지 않습니다.</font><br/>&nbsp;보다 편리한 이용을 위해 전용뷰어 설치를 권장합니다.
				<ul style="margin:5px 5px 0 0;height:30px;">
					<li><a href="market://details?id=com.yettiesoft.vestmail"><font style="font-weight:bold;color:blue;font-size:20px;">전용 뷰어 다운로드(viewer): VestMail</font></a></li>
				</ul>
				<h2 class="detail"><a href="http://www.yettiesoft.com/m/product/vestmail/info/android_info.html" target="_blank">자세한 방법 보기<br>(Learn how)</a></h2>
			</div>
		</div>
	</noscript>
	<!-- 첨부파일 다운로드 용  -->
	<div id="atdiv" align="center" style="display:none;">
		<table  align="center" style='margin-top:10px;width:600px;height:30px;'>
			<tr><td class="att_font1 att_bg" width="120px">
			첨부파일 다운로드
			</td><td id="af" class="att_font2" >
			</td></tr>
		</table>
		<table id="afinfo" style="width:600px;display:none;">
			<tr><td  class="att_font1 att_bg" width="120px;">
				Android App
				</td><td class="att_font3">
				첨부파일 다운로드가 되지 않는 경우 아래의 호환 가능한 프로그램을 설치하여 주십시오.<br/>
				If the attachment is not downloaded, install a compatible program below.
   			</td></tr>
			<tr><td class="att_font1 att_bg">
				보안메일 전용 뷰어 <br/><font style="font-weight:normal;">(Secure mail viewer)</font>
				</td><td class="att_font2">
				 <a style="color:#0f80ff;" href="market://details?id=com.yettiesoft.vestmail">VestMail</a>
   			</td></tr>
			<tr><td class="att_font2 att_bg" colspan="2">
				<a style="color:#0f80ff;" href="http://www.yettiesoft.com/m/product/vestmail/info/android_info.html" target="_blank">자세한 방법 보기 (Learn how)</a>
			</td></tr>
		</table>
	</div>
	<!-- 첨부파일 다운로드 용  -->
	<div id="org" >
		<div id="pop_content">
			<div id="ly_header" class="ly_header"  onMousedown="capture('pop_content', event);">보안메일 비밀번호 입력</div>
			<div id="close_layer" onClick="close_layer('pop_content');"></div>
			<!-- 베너 위치 -->
			<div id="ly_banner" class="ly_banner"></div>
			<!-- 패스워드 안내 문구 위치 -->
			<div id="ly_body" class="ly_body" ></div>
			<form name="decForm" id="decForm" onSubmit="doAction(); return false;">
				<div id="inputform">
					<div id="pop_footer">
						<input type="password" id="password" class="input_text" maxlength="16">
						<input id="confirm" type="submit" value="" class="input_confirm_text">
					</div>		
				</div>
			</form>
		</div>
	</div>
    <div id="print">
      <input type="button" onClick="printIframe()" value="인쇄하기" style="display:none;">
    </div>
    <IFRAME id="cipher" name="cipher" margin="0" padding="0" onload="resizeFrame()" frameborder="0" scrolling="auto" style="display:none; border:0px;">

	</body>